<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.model.mapper.CustomerMapper">
<sql id="selectCustomer">
	select id,name,address from spring_customer 
</sql>
<select id="findCustomerById" parameterType="string" resultType="org.kosta.myproject.model.vo.CustomerVO">
	<include refid="selectCustomer"></include> where id=#{value}
</select>
<insert id="registerCustomer" parameterType="org.kosta.myproject.model.vo.CustomerVO">
     insert into spring_customer(id,name,address) values(#{id},#{name},#{address})
</insert>
<select id="checkDuplicateId" parameterType="string"  resultType="int">
     select count(*) from spring_customer where id=#{value}
</select>
<select id="findCustomerListByAddress" parameterType="string" 
 resultType="org.kosta.myproject.model.vo.CustomerVO">
	<include refid="selectCustomer"></include>
	where address=#{value}
</select>
</mapper>













