<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
<select id="getTotalMemberCount" resultType="int">
SELECT COUNT(*) FROM spring_member
</select>
<select id="findMemberList"  resultType="org.kosta.myproject.model.MemberVO">
SELECT id,password,name,address FROM spring_member
</select>
<insert id="register" parameterType="org.kosta.myproject.model.MemberVO">
INSERT INTO spring_member(id,password,name,address) VALUES(#{id},#{password},#{name},#{address})
</insert>
<delete id="deleteMember" parameterType="string">
DELETE FROM spring_member WHERE id=#{value}
</delete>
</mapper>